/* CSS file */
Application {
	backgroundColor: #ffffff;
    backgroundGradientColors: #3399ff, #ffffff;
    backgroundGradientAlphas: 0.5, 1;
}
VScrollBar {
	fillColors: #ffffff, #3399ff, #ffffff, #eeeeee;
    borderColor: #ffffff;
}

.myTabs {
	/*fillColors: #ffffff, #3399ff;*/
    borderColor: #ffffff;

}

